<html>
<head><link rel="stylesheet" type="text/css" href="/assets/styles.css"/></head>

<body style="background-color: rgb(229, 245, 250);">
<title>MongoDB CRUD Demo</title>
<div class="simple-style">
<div>
    <h2>MongoDB CRUD Demo</h2><hr>
</div>
<br>


<!-- Confirmation -->
<form method="GET" action="/">

        <legend>Person Updated:</legend><hr>
        <ul>   
                <label>Mongo ID:</label>
                <input type="text" name="mongoid" id="mongoid" class="field-small" value="<%= _id %>" readonly/>

<br>
<label>Changes:</label>
<textarea readonly rows=10 cols=60>
Mongo ID: <%= _id %>
Name: <%= firstname %> <%= surname %> 
Phone: <%= telephone %>

Changed To:
Name: <%= newfirstname %> <%= newsurname %> 
Phone: <%= newtelephone %>
</textarea>
<br>
    
                <input type="submit" value="Ok">

        </ul>
</form>
</div>
</body>
</html>
