<html>
<head><link rel="stylesheet" type="text/css" href="/assets/styles.css"/></head>

<body style="background-color: rgb(229, 245, 250);">
<title>MongoDB CRUD Demo</title>
<div class="simple-style">
<div>
    <h2>MongoDB CRUD Demo</h2><hr>
</div>
<br>


<!-- Confirmation -->
<form method="GET" action="./">

<br>
<span>Person List:</span><hr>
<ul>   

<input type="submit" value="Ok"><br><br>

<%for (var i in personList){ %>
<textarea readonly rows=6 cols=50 >
<%= i %>: 

Mongo ID:<%= personList[i].id %>
Name: <%= personList[i].firstname %> <%= personList[i].surname %> 
Phone: <%= personList[i].telephone %>
</textarea>
<br>
<%}%>

<input type="submit" value="Ok">

</ul>
</form>
</div>
</body>
</html>
