

<!-- 1. Add Person to Collection -->
<div id="1" class="menu-div" style="display:none">
    <form method="POST" action="/person" >

        <span>Add a person to DB collection</span><hr><br>

            <label>Full Name:</label>
            <input type="text" name="firstname" id ="firstname" class="field-divided" placeholder="First Name" size=10  required/>
            <input type="text" name="surname" id="surname" class="field-divided" placeholder="Surname"  required/><br>
            <label>Telephone:</label>

            <input type="number" name="telephone" id ="telephone" class="field-small" placeholder="Telephone" size=50 required><br><br>
            <input type="submit" value="Create Person" />
    </form>

    <label >Response:</label>
    <textarea name="response" id ="response"  readonly><%- JSON.stringify(ui.data[1],null,3) %></textarea>
</div>


<!-- 2. Get Persons -->
<div id="2" class="menu-div" style="display:none">
    <form method="GET" action="/person" >
        <span>List persons</span><hr><br>
        <input type="submit" value="List Persons" />
    </form>

    <br>
    <label>People:</label>
<textarea readonly>
<% if ( typeof ui.data[2] == 'object' && ui.data[2] ) { %><%for (var i in ui.data[2].data){ %><%= i %>: 
Mongo ID:<%= ui.data[2].data[i]._id %>
Name: <%= ui.data[2].data[i].firstname %> <%= ui.data[2].data[i].surname %> 
Phone: <%= ui.data[2].data[i].telephone %>


<%}%>
<%}%>
</textarea>
    <br>
    <label >Response:</label>
    <textarea name="response" id ="response"  readonly><%- JSON.stringify(ui.data[2],null,3) %></textarea>
</div>

<!-- 3. Update Persons -->
<div id="3" class="menu-div" style="display:none">
    <form method="POST" action="/person/update">
        <span>Update person </span><hr><br>
        

            <label>Mongo ID:</label>
            <input type="text" name ="mongoid" id ="mongoid"  placeholder="Mongo ID" required> <br>

            <label>Full Name:</label>
            <input type="text" name="firstname" id ="firstname" placeholder="First Name"  size=35 required/>
            <input type="text" name="surname" id="surname" placeholder="Surname" size=35 required/>


            <label>Telephone:</label>

            <input type="number" name="telephone" id ="telephone" class="field-small" placeholder="Telephone" size=50 required><br><br>
            <input type="submit" value="Update Person" />
    </form>
    <br>
    <label >Response:</label>
    <textarea name="response" id ="response"  readonly><%- JSON.stringify(ui.data[3],null,3) %></textarea>
</div>

<!-- 4. Delete Persons -->
<div id="4" class="menu-div" style="display:none">
    <form method="POST" action="/person/delete" >    
        <span>Delete person</span><hr><br>
        <label>Mongo ID:</label>
        <input placeholder ="Mongo ID" id ="mongoid" type="text" name ="mongoid" size=50 required><br><br>
        <input type="submit" value="Delete Persons" />
        <br>
    </form>
    <br>

    <label >Response:</label>
    <textarea name="response" id ="response"  readonly><%- JSON.stringify(ui.data[4],null,3) %></textarea>
</div>

